<footer>

    <section class="footer-Content">
    <div class="container">
    <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-6 col-mb-12">
    <div class="widget">
    <div class="textwidget">
    <p>Chronos, aplicación colaborativa de banco del tiempo</p>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6 col-mb-12">
    <div class="widget">
    <h3 class="block-title">Enlaces rápidos</h3>
    <ul class="menu">
    <li><a routerLink="">Inicio</a></li>
    <li><a routerLink="/publish">Registrate</a></li>
    <li><a routerLink="/login">Log in</a></li>
    <li><a routerLink="/listing">Servicios</a></li>
    <li><a routerLink="/categories">Categorias</a></li>
    <li><a routerLink="/publish">Publica un anuncio</a></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-6 col-mb-12">
    <div class="widget">
    <h3 class="block-title">Información de Contacto</h3>
    <ul class="contact-footer">
    <li>
    <strong><i class="lni lni-map-marker"></i></strong><span><a href="#">Chronos Madrid</a></span>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </section>


    <div id="copyright">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="site-info text-center">
    <p><a target="_blank" href="https://www.linkedin.com/in/nerea-garc%C3%ADa-puente-8bb02992/">Chronos - Nerea García Puente 2021</a></p>
    </div>
    </div>
    </div>
    </div>
    </div>

    </footer>


    <a href="#" class="back-to-top">
    <i class="lni lni-home"></i>
    </a>
