<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="breadcrumb-wrapper">
    <h2 class="product-title">Únete a nosotros</h2>
    <ol class="breadcrumb">
    <li><a href="#">Home /</a></li>
    <li class="current">Registro</li>
    </ol>
    </div>
    </div>
    </div>
    </div>
    </div>
    <section class="register section-padding">
        <div class="container">
        <div class="row justify-content-center">
        <div class="col-lg-5 col-md-12 col-xs-12">
        <div class="register-form login-area">
        <h3>
        HAZTE NIEMBRO
        </h3>
        <form class="login-form" [formGroup]="form"  #formDirective="ngForm">
        <div class="form-group">
        <div class="input-icon">
        <i class="lni-user"></i>
        <input type="text" id="Name" class="form-control" formControlName="name" name="name" placeholder="introduzca el nombre">
        </div>
        <span class="error-msg" *ngIf="name.hasError('required') && name.touched">Campo obligatorio</span>
        </div>
        <div class="form-group">
        <div class="input-icon">
        <i class="lni-envelope"></i>
        <input type="text" id="sender-email" class="form-control"  formControlName="email" name="email" placeholder="Introduzca email">
        </div>
        <span class="error-msg" *ngIf="email.hasError('required') && email.touched">Campo obligatorio</span>
        </div>
        <div class="form-group">
        <div class="input-icon">
        <i class="lni-phone"></i>
        <input type="text" class="form-control" name="phone"  formControlName="phone" placeholder="Introduzaca telefono">
        </div>
        <span class="error-msg" *ngIf="phone.hasError('required') && phone.touched">Campo obligatorio</span>
        </div>
        <div class="form-group">
        <div class="input-icon">
        <i class="lni-home"></i>
        <input type="text" class="form-control"  formControlName="city" name="city" placeholder="Introduzca Ciudad">
        </div>
        <span class="error-msg" *ngIf="city.hasError('required') && city.touched">Campo obligatorio</span>
        </div>
        <div class="form-group">
            <div class="input-icon">
            <i class="lni-lock"></i>
            <input type="password" class="form-control"  formControlName="password" placeholder="Introduzca contraseña">
            </div>
            <span class="error-msg" *ngIf="password.hasError('required') && password.touched">Campo obligatorio</span>
            <span class="error-msg" *ngIf="password.hasError('minlength')">Minimo 6 caracteres </span>
            <span class="error-msg" *ngIf="password.hasError('maxlength')">Maximo 12 caracteres</span>
            </div>
    
        <div class="text-center">
        <button (click)="onSubmit()" class="btn btn-common log-btn" [disabled]="form.invalid">Register</button>
        </div>
        </form>
        </div>
        </div>
        </div>
        </div>
        </section>
