<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="featured-box">
    <figure>
    <a [routerLink]="['/details/', ad.id]"><img class="img-fluid" src="assets/img/featured/img-1.jpg" alt=""></a>
    </figure>
    <div class="feature-content">
    <div class="product">
    {{ad.categoryName}}
    </div>
    <h4><a [routerLink]="['/details/', ad.id]">{{ad.title}}</a></h4>
    <div class="meta-tag">
    <span>
    <a href="#"><i class="lni-user"></i>{{ad.createAd}}</a>
    </span>
    </div>
    <p class="dsc">{{ad.description}}</p>
    <div class="listing-bottom">
    <a [routerLink]="['/details/', ad.id]" class="btn btn-common float-right">Ver detalles</a>
    </div>
    </div>
    </div>
    </div>
