<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="featured-box">
    <figure>
      <a  [routerLink]="['/details/', ad.id]"
        ><img class="img-fluid" src="{{ad.categoryImage}}" alt=""
      /></a>
    </figure>
    <div class="feature-content">
      <div class="product">
        <h6>
          Categoria: {{ ad.categoryName }}
        </h6>
      </div>
      <h4>
        <a [routerLink]="['/details/', ad.id]">{{ ad.title }}</a>
      </h4>
      <div class="meta-tag">
        <span>
          <i class="lni lni-user"></i> {{ ad.createAd }}
        </span>
      </div>
      <p class="dsc">{{ ad.description }}</p>
      <div class="listing-bottom">
        <a [routerLink]="['/details/', ad.id]"
          class="btn btn-common float-right"
          >Ver detalle</a>
      </div>
    </div>
  </div>
</div>
