<div *ngIf="ad" class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Detalle del servicio</h2>
                    <ol class="breadcrumb">
                        <li><a routerLink="" routerLinkActive="active">Inicio /</a></li>
                        <li class="current">{{ad.categoryName}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="ad" class="section-padding">
    <div class="container">
        <div class="product-info row">
            <div class="col-lg-7 col-md-12 col-xs-12">
                <div class="ads-details-wrapper">
                        <div class="item">
                                <img style="width: 95% !important;" class="img-fluid" src="{{ad.categoryImage}}" alt="">
                        </div>
                </div>
                <div class="details-box">
                    <div class="ads-details-info">
                        <h2>{{ad.title}}</h2>
                        <div class="details-meta">
                            <span><i class="lni lni-calendar"></i> {{ad.createAd}} </span>
                            <span *ngIf="user" ><i class="lni lni-map-marker"></i>{{user.city}} </span>
                        </div> 
                        <h4 class="title-small mb-3">Descripcion :</h4>
                        <p *ngFor="let string of ad.description.split('\n')"class="mb-4">
                            {{string}}
                        </p>
                        <h4 class="title-small mb-3">Disponibilidad :</h4>
                        <p *ngFor="let string of ad.availability.split('\n')"class="mb-4">
                            {{string}}
                        </p>
                    </div>
                    <div class="tag-bottom">
                        <div class="float-left">
                            <ul class="advertisement">
                                <li>
                                    <p><strong><i class="lni lni-folder"></i> Categoria: </strong> <a
                                            href="#">{{ad.categoryName}}</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <aside *ngIf="!transaction" class="details-sidebar">
                    <div  class="widget">
                        <h4 class="widget-title">Anuncio publicado por: </h4>
                        <form class="form" [formGroup]="form"  #formDirective="ngForm">
                        <div *ngIf="user && userLogged && user.id != userLogged.id" class="agent-inner">
                            <div class="agent-title">
                                <div class="agent-photo">
                                    <a href="#"><img src="assets/img/avatar.jpg" alt=""></a>
                                </div>
                                <div class="agent-details">
                                    <h3><a href="#">{{user.name}}</a></h3>
                                    <span><i class="lni lni-phone-handset"></i>{{user.phone}}</span><br>
                                    <span><i class="lni lni-envelope"></i>{{user.email}}</span>
                                </div>
                            </div>
                            <div>
                            <input style="margin-bottom: 10px !important" type="number" min="1" formControlName="amount" class="form-control" placeholder="Introduce las horas de servicio ">
                            <span class="error-msg" *ngIf="amount.hasError('required') && amount.touched">Campo obligatorio</span>
                            <textarea style="margin-bottom: 10px !important"  rows="6" type="text" formControlName="description" class="form-control" placeholder="Puedes introducir un mensaje para el receptor..."></textarea>
                            <span class="error-msg" *ngIf="description.hasError('required') && description.touched">Campo obligatorio</span>
                            <div
                            class="alert alert-danger"
                            role="alert"
                            *ngIf="serviceRequestFailed">
                            Transacción no realizada: {{ errorMessage }}
                          </div>
                        </div>
                            <button (click)="onSubmit()" class="btn btn-common fullwidth mt-4" [disabled]="form.invalid">Enviar Peticion</button>
                        </div>
                        <div class="alert alert-success" role="alert" *ngIf="user && userLogged && user.id == userLogged.id">
                            Este anuncio es de tu propiedad. Editalo desde Mi Perfil.
                         </div>
                    </form>
                    </div>
                </aside>
                <div *ngIf="transaction" class="widget">
                    <div class="alert alert-success" role="alert">Tu solicitud ha sido enviada con éxito. Hemos notificado al emisor del servicio, atendera tu solicitud lo antes posible.</div><br>
                </div>

            </div>
        </div>

    </div>
</div>
