<div id="hero-area">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-9 col-xs-12 text-center">
          <div class="contents">
            <h1 class="head-title">
              Bienvenido a <span class="year">Chronus</span>
            </h1>
            <p>
              Registrate, ofrece y recibe servicios de forma totalmente
              colaborativa y gratuita, intercambiando tu tiempo!!
            </p>
            <div class="search-bar">
              <div class="search-inner">
                <form name="form"
                (ngSubmit)="search()"
                #f="ngForm"  role="search" id="search-form">
                  <div class="form-group">
                    <input
                    [(ngModel)]="form.word" type="text"
                      name="customword"
                      class="form-control"
                      placeholder="Que estas buscando?"
                    />
                  </div>
                  <button class="btn btn-common" type="submit">
                    <i class="lni lni-search"></i> BUSCAR
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
