<div class="page-header" style="background: url(assets/img/banner1.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Transacciones enviadas y recibidas</h2>
          <ol class="breadcrumb">
            <li><a routerLink="" routerLinkActive="active">Inicio /</a></li>
            <li class="current">Mis transacciones</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <app-profilesidebar
      class="col-sm-12 col-md-4 col-lg-3 page-sidebar"
    ></app-profilesidebar>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="page-content">
        <div class="inner-box">
          <div class="dashboard-box">
            <h2 class="dashbord-title"></h2>
          </div>
          <div class="dashboard-wrapper">
            <div class="dashboardboxtitle">
              <h2>Transacciones Recibidas</h2>
            </div>
            <table class="table table-responsive dashboardtable tablemyads">
              <thead>
                <tr>
                  <th>Titulo</th>
                  <th>Descripcion</th>
                  <th>Usuario Receptor</th>
                  <th>Horas</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let trans of transactionsReceived"
                  data-category="active"
                >
                  <td class="Title">
                    <h3>{{ trans.adId.title }}</h3>
                    <span>{{ trans.adId.description.substr(0, 40) }}</span>
                  </td>
                  <td data-title="Descripcion">
                    <span>{{ trans.description }}</span>
                  </td>
                  <td data-title="Usuario">
                    <span class="adcategories">{{
                      trans.originUserId.name
                    }}</span>
                  </td>
                  <td data-title="Horas">
                    <h3>{{ trans.amount }} h</h3>
                  </td>
                  <td data-title="Estado">
                    <div
                      *ngIf="trans.status == 'PENDING'"
                      class="btns-actions"
                      role="alert"
                    >
                      <a
                        (click)="acceptTransaction(trans.id)"
                        class="btn-action btn-view"
                        ><i class="lni lni-checkmark-circle"></i
                      ></a>
                      <a
                        (click)="refuseTransaction(trans.id)"
                        class="btn-action btn-edit"
                        ><i class="lni lni-cross-circle"></i
                      ></a>
                    </div>
                    <div
                      *ngIf="trans.status == 'ACCEPTED'"
                      class="btns-actions"
                      role="alert"
                    >
                      <a
                        (click)="completeTransaction(trans.id)"
                        class="btn-action btn-view"
                        ><i class="lni lni-checkmark-circle"></i
                      ></a>
                    </div>
                    <div
                      *ngIf="trans.status == 'REFUSED'"
                      class="alert alert-danger"
                      role="alert"
                    >
                      Has rechazado la transaccion :(
                    </div>
                    <div
                      *ngIf="trans.status == 'COMPLETED'"
                      class="alert alert-success"
                      role="alert"
                    >
                      Transaccion Completada, se te han sumado las horas del
                      servicio
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
